In [4]:
### Q1: Check givin age is more than 18 then print eligible else not eligible
age =  int(input("enter age:"))
if age>18:
    print("eligible")
else:
    print("not eligible")

eligible

In [5]:
#palindrome
stri = 'lool'
if stri == stri[::-1]:
    print("palindrom")
else:
    print("not palindrom")

palindrom

In [7]:
121%10

1

In [9]:
121//10

12

In [10]:
1%10

1

In [16]:
def palindrom(n):
    original = n
    reverse = 0
    while n>0:
        print("n value:", n)
        digit = n%10
        print("digit = n%10", digit)
        reverse =  reverse*10 + digit
        print("reverse =  reverse*10 + digit:", reverse)
        n = n//10
        print("n = n//10", n)
        print("*************************")
    if original == reverse:
        print("palindrome")
    else:
        print("not palindrome")

palindrom(1221)

n value: 1221
digit = n%10 1
reverse =  reverse*10 + digit: 1
n = n//10 122
*************************
n value: 122
digit = n%10 2
reverse =  reverse*10 + digit: 12
n = n//10 12
*************************
n value: 12
digit = n%10 2
reverse =  reverse*10 + digit: 122
n = n//10 1
*************************
n value: 1
digit = n%10 1
reverse =  reverse*10 + digit: 1221
n = n//10 0
*************************
palindrome

In [25]:
num =  1991
n = num
r = 0
while n>0:
    rem = n%10
    print("rem = n%10 :", rem)
    r = r*10+rem
    print("r = r*10+rem :", r)
    n = n//10
    print("n = n//10 :", n)
    print("*****************")
if num == r:
    print("palindrome")
else:
    print("not palindrome")

rem = n%10 : 1
r = r*10+rem : 1
n = n//10 : 199
*****************
rem = n%10 : 9
r = r*10+rem : 19
n = n//10 : 19
*****************
rem = n%10 : 9
r = r*10+rem : 199
n = n//10 : 1
*****************
rem = n%10 : 1
r = r*10+rem : 1991
n = n//10 : 0
*****************
palindrome

In [26]:
def my_palindrome(num):
    n = num
    r = 0
    while n>0:
        rem = n%10
        print("rem = n%10 :", rem)
        r = r*10+rem
        print("r = r*10+rem :", r)
        n = n//10
        print("n = n//10 :", n)
        print("*****************")
    if num == r:
        print("palindrome")
    else:
        print("not palindrome")

my_palindrome(1991)

rem = n%10 : 1
r = r*10+rem : 1
n = n//10 : 199
*****************
rem = n%10 : 9
r = r*10+rem : 19
n = n//10 : 19
*****************
rem = n%10 : 9
r = r*10+rem : 199
n = n//10 : 1
*****************
rem = n%10 : 1
r = r*10+rem : 1991
n = n//10 : 0
*****************
palindrome

In [ ]:
#ZIP()
l = [22,23,24]
l2 = ['navya','kumar']
# for i in range(len(l2)):
#     print(f" {l2[i]} roll number is {l[i]}")



for i,j in zip(l,l2):
    print(i,j)

#zip() is used to combine two list and give a tuple as result,
# it is usful when you want itarate two lists at a time in a single for loop 
# it will combined as tuple for a two lists based upon the which ever the list is having minimum lenght

22 navya
23 kumar

In [24]:
#MAP()
def mul_of_two(n):
    return n*2

In [25]:
mul_of_two(4)

8

In [ ]:
updated_list = []
for i in l:
    updated_list.append(mul_of_two(i))

#list comprehensive
updated_list = [mul_of_two(i) for i in l]

In [29]:
updated_list

[44, 46, 48]

In [ ]:
list(map(mul_of_two,l))

[44, 46, 48]

In [ ]:
#LAMBDA()
def adding(x,y):
    return x+y

In [37]:
adding = lambda x,y : x+y

In [38]:
adding(10,2)

12

In [ ]:
#reduce() applies the lambda cummulatively to the list
from functools import reduce
list2 = [1,2,3,4]
k = reduce(lambda x,y: x*y , list2)
print(k)

24

In [40]:
#emumarate()
list1 = ['navya','kumar', 'simla']
for index, i in enumerate(list1):
    print(index,i)

0 navya
1 kumar
2 simla

In [44]:
#filter()
numbers = [1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [53]:
list(filter(lambda x:x%2 == 0,numbers))

[2, 4, 6, 8, 10]

In [55]:
#dict comprehensive
l = [22,23,24]
l2 = ['navya','kumar']
{key:value for key,value in zip(l2,l)}

{'navya': 22, 'kumar': 23}